<div class="animated fadeIn">
  <div class="row" style="margin-right:0;">
    <div class="col">
          <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
            <img src="assets/img/drawing2.png" height="60" width="190" alt="logo" style="margin-right:55px;"/>
            <button aria-controls="navbarSupportedContent" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" class="navbar-toggler" type="button" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed" [isAnimated]="true">
              <ul class="navbar-nav mr-auto" style="cursor: pointer;">
                
                <li class="nav-item active" (click)="scrollToElement(services)">
                  <a class="nav-link" >Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="scrollToElement(features)">Features</a>
                </li>
               <li class="nav-item">
                  <a class="nav-link" (click)="scrollToElement(about)">About</a>
                </li>
              </ul>
              <ul class="navbar-nav ">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="../login">Login</a>
                </li>
                <li class="nav-item " > 
                    <a class="nav-link" routerLink="../register" style="color:#20a8d8; font-size: 14px;">Sign Up For Free</a>
                </li>
              </ul>
              
              <!--<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>-->
            </div>
          </nav>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid" style="background-image: url('assets/img/trianglify.png');">
  <div class="container text-center" >
    
    <h1 class="display-4">A New Payment Analysis Platform</h1>
    <p style="padding: 3%;">To help you increase your productivity and give you clarity on earnings through a usable and functional dashboard application.
      <br/>
      Create a profile and upload your invoices to benefit from all the available features.
    </p>
  </div>
</div>
<div class="container" #services>
  <div class="row">
    <div class="col-md-4">
      <section>
        <header>
          <br/>
          <h2>What We Offer</h2>
        </header>
      </section>
        <br/>
        
       <p>A Dashboard style application developed for Self-employed workers, this application gives a overview and breakdown of your invoice payments.
        <br/>
        <br/>
        Create a profile in the Signup page and upload your invoices to begin.</p>
    </div>
    <div class="col-md-8">
      <div class="container" style="display: inline-block;">
        <img class="landing-page-img" src="assets/img/full-dashboard-webview.PNG">
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<hr/>
<section #features>
  <header class="text-center">
    <h1>Features</h1>
  </header>
</section>
<div class="container">
  <div class="row">
    <div class="col-8">
     <div class="container">
        <img class="landing-page-img-lg" src="assets/img/invoice-grid.PNG">
      </div>
    </div>
    <div class="col-md-4">
      <br/>
      <br/>
        <div class="features-block text-center" >
          <i class="cui-chart icons font-2xl d-block mt-4"></i>
          <h4>
            Invoice Manager
          </h4>
          <p>
            Payment breakdown
            <br/>
            Tax calculator
          </p> 
        </div>
        <br/>
    </div>
  </div>
</div>
<hr/>
<br/>
<br/>

<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <br/>
      <br/>
      <br/>
      <div class="features-block" >
        <i class="cui-people font-2xl d-block mt-4"></i>
        <h4>
         Daily stats
        </h4>
        <p>
          Combine your data and share with outer ryders
          Global data analysis from combined ryder data</p> 
      </div>
      <br/>
     
    </div>
    <div class="col-md-8">
      <div class="container">
        <img class="landing-page-img" src="assets/img/daily-analysis.PNG">
      </div>
        <br/>
    </div>
  </div>
</div>
<br/>
<br/>
<div class="container text-center">
 
  <hr/>
  <h3>New Features Actively Being Developed</h3>
  <br/>

  <div class="row">
    <!--<div class="col-sm">
      <div class="features-block" >
        <i class="cui-star icons font-2xl d-block mt-4"></i>
        <i class="cui-star icons font-2xl  mt-4"></i>
        <i class="cui-star icons font-2xl  mt-4"></i>
        <h4>
          Game mode
        </h4>
        <p> League of ryders in your city</p> 
      </div>
      <br/>
    </div>-->
    <div class="col-sm">
      <div class="features-block" >
        <i class="cui-tags icons font-2xl d-block mt-4"></i>
        <h4>
          Equipment Manager
        </h4>
        <p>
          Choose  vehicle type: car, bicycle, scooter
          <br/>
          Link to Affiliate products
          <br/>
          Reminders replace/repair parts 
        </p> 
      </div>
      <br/>
    </div>
    <div class="col-sm">
      <div class="features-block" >
        <i class="cui-comment-square icons font-2xl d-block mt-4"></i>
        <h4>
          Messenger
        </h4>
        <p>
          Weather Alerts
          <br/>
          Roads Closed
          <br/>
          Chat between other ryders
          <br/> </p> 
      </div>
      <br/>
    </div>
  </div>
</div>
<hr/>
<div class="container">
  <div class="row">
    <div class="col-8">
     <div class="container">
        <img class="landing-page-img" src="assets/img/charts-imgw.PNG">
      </div>
    </div>
    <div class="col-md-4">
      <section>
        <header>
          <br/>
          <h2>Analysis Through A Dashboard Application</h2>
        </header>
      </section>
        <br/>
        
       <p>Payment history can be broken down in various charts and table to give you a quick and better understanding of your income.
        <br/>
        <br/>
        By using this application you can benefit from all the features currently being developed.</p>
    
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<div class="jumbotron jumbotron-fluid"  style="padding:5%; background-image: url('assets/img/about-us.jpg'); margin: 0;">
  <div class="row" #about>
    <div class="col-md-8">
      <section>
        <header>
          <h2>About RyderHub</h2>
        </header>
      </section>
      <p>
        This project came about from a need for greather oversight of payments and a desire to develop a tool to accomplish that task,
        We share a vision of connected workers in society for all and we pride ourselves on delivering world class solutions to solving complex challenges.
    <br/>
    <br/>
    With our platform as a service we hope to grow a strong community and continue to grow and transform this project into the future.
      </p>
    </div>
    <div class="col-4">
      
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid text-white"  style="padding:3%; padding-bottom: 20px;background-color: #293f4d; margin-bottom: 0;">
  <br/>
  <br/>
  <div class="row">
    <div class="col-sm-3">
      <img src="assets/img/drawing2.png" height="50" width="170" alt="logo" style="display:block;background-color: #fff;
      border-radius: 35px; margin-right:55px;"/>
    </div>
    <div class="col-sm-3">
      <ul class="navbar-nav mr-auto" style="font-size: 1.2em; cursor: pointer;">
        <li><a style="color:white;" (click)="scrollToElement(services)">Services</a></li>
        <li><a style="color:white;" (click)="scrollToElement(features)">Features</a></li>
        <li><a style="color:white;" (click)="scrollToElement(about)">About Us</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
     
    </div>
    <div class="col-sm-3">
      <ul class="navbar-nav mr-auto" style="font-size: 1.2em;">
        <li>Contact Info:</li>
        <li>Johnmulcahy346@gmail.com</li>
        <li>
          <i class="fa fa-facebook-f fa-lg mt-4"></i>
          <i class="fa fa-twitter-square fa-lg mt-4"></i>
          <i class="fa fa-git-square fa-lg mt-4"></i>
        </li>
      </ul>
    </div>
  </div>
  <br/>
  <p style="padding-top:5%">&copy; 2020 MyRyderHub designed by John Mulcahy</p>
</div>
<!--<carousel>
    <slide>
      <img src="assets/images/nature/7.jpg" alt="First slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/trianglify.png" alt="Second slide">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/nature/1.jpg" alt="Third slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>-->