<div>
    <h3 style="padding:5px">Weather Information Today {{ todayDate }}</h3>
    <hr/>
    <div class="row" style="padding:10px">
        <div class="col-sm-6 col-lg-6">
          <h4>Weather condition: {{description}}</h4>
          <h4>Tempurature: {{temp}} Celcius</h4>
          <h4>Wind Speed: {{windSpeed}} m/s</h4>
          <h4>Wind direction: {{windDegrees}}</h4>
        </div>
        <div class="col-sm-6 col-lg-6">
            <h4>Region: {{region}}</h4>
            <h4>Sunset: {{sunset}} pm</h4>
            <h4>Sunrise: {{sunrise}} am</h4>
            <button type="button" title="Get weather data" (click)="getWeatherData()"class="btn btn-primary float-left">
                <i class="icon-cloud-download"></i>
            </button>
        </div>
      </div>
      <hr/>
 </div>

 
<div class="animated fadeIn">

    <h3>Weather App using Windy.com</h3>
  
    <div class="tab-content">
      <div id="home" class="tab-pane active">
        <h3>Rain map</h3>
        <iframe width="100%" height="450" src="https://embed.windytv.com/embed2.html?lat=53.339&lon=-6.260&zoom=5&level=surface&overlay=rain&menu=true&message=true&marker=true&forecast=12&calendar=now&location=ip&type=map&actualGrid=&metricWind=kt&metricTemp=%C2%B0C" frameborder="0"></iframe>
      </div>
      <div id="menu1" class="tab-pane  active">
        <h3>Wind map</h3>
        <iframe width="100%" height="450" src="https://embed.windytv.com/embed2.html?lat=53.339&lon=-6.260&zoom=5&level=surface&overlay=wind&menu=true&message=&marker=&forecast=12&calendar=now&location=ip&type=map&actualGrid=&metricWind=kt&metricTemp=%C2%B0C" frameborder="0"></iframe>
      </div>
      <div id="menu2" class="tab-pane  active">
        <h3>Cloud map</h3>
        <iframe width="100%" height="450" src="https://embed.windytv.com/embed2.html?lat=53.339&lon=-6.260&zoom=5&level=surface&overlay=clouds&menu=true&message=&marker=&forecast=12&calendar=now&location=ip&type=map&actualGrid=&metricWind=kt&metricTemp=%C2%B0C" frameborder="0"></iframe>
      </div>
      <div id="menu3" class="tab-pane active">
        <h3>Temp map</h3>
        <iframe width="100%" height="450" src="https://embed.windytv.com/embed2.html?lat=53.339&lon=-6.260&zoom=5&level=surface&overlay=temp&menu=true&message=&marker=&forecast=12&calendar=now&location=ip&type=map&actualGrid=&metricWind=kt&metricTemp=%C2%B0C" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  