<div class="card">
    <div class="card-header">
      <strong>Invoice uploader</strong>
    
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
            <form  
             method="post" 
             #uploadForm='ngForm'
             (ngSubmit)="UploadFiles(uploadForm.value)"
             enctype="multipart/form-data" class="form-horizontal ">
             
                <div class="form-group row">
                    <div class="col-md-6" style="border-right: 1px solid rgb(53, 53, 143);">
                        <p >{{ currentUser }} </p>
                        <h3>Uploading Invoices</h3>
                        <ul>
                          <li>Create a new folder on your device.</li>
                          <li>Download your invoice's from your email or in the ryder app and place files in the folder.</li>
                          <li>Select all the files to download.</li>
                          <li>Press upload to complete and wait a few moments before the data is uploaded to the dashboard.</li>
                        </ul>
                       
                    </div>
                  <div class="col-md-6">
                      <br/>
                    <span>RyderID:  </span>
                    <input type="text"  id="ryderID" placeholder=" Enter RyderID" [(ngModel)]="firstName" name="ryderID" required pattern=".{3,}">
                    <br/>
                    <br/>
                    <br/>
                    <!-- <input ng-disabled="uploadForm.$invalid" type="file" ng-model="form.file" name="file" id="file" multiple onchange="angular.element(this).scope().fileName(this)"> -->
                    <!-- <input type="file" ng-model="form.file" name="file" id="file"> -->
                    <input type="file"   
                    id="file" required="true" [(ngModel)]="file" name="file" (change)="onFileSelected($event)" multiple accept="application/pdf">
                    <br/>
                    <br/>
                    <button type="submit" class="btn btn-primary" id="upload">Upload Files</button>
                    <br/>
                    <br/>
                    <p id="uploadMessage">{{ message }}</p>
                </div>
                </div>
                <br/>
                <br/>
                <!--<h5 style="border-top: 1px solid rgb(37, 106, 163);">An easier way is to try our Invoice downloader, 
                <br/>it connects with your Gmail account :) <a ui-sref="app.AutoUploader">Instructions here</a></h5>-->
              </form>
        </div>
      </div>
      <!--/.row-->
      <div class="row">
        
      </div>
      <!--/.row-->
      <div class="row">
        
        <div class="col-sm-4">
            <br/>
          <h3 >{{ message }}</h3>
        </div>
      </div>
      <!--/.row-->
    </div>
    
      
  </div>