<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <br/>
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4" style="background-color: aliceblue;">
                <div>
                  <img src="assets/img/drawing2.png" height="70" width="220" alt="logo" />
                </div>
                <div class="card-body">
                  <form  #form="ngForm" (submit)="onSubmit(form)" [class.loading]="loading">
                    
                    <!--<div *ngIf="afAuth.user | async as user;">
                        <p>Name: {{ user.displayName }}</p>
                    </div>-->
                    <h1>Login</h1>
                    <p class="text-muted">Sign In to your account</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="email" class="form-control" placeholder="email" name="email" autocomplete="email" required ngModel>
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="current-password" required ngModel>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div *ngIf="error">
                          <p>{{ error }}</p>
                      </div>
                        <button type="Submit" class="btn btn-primary px-4">Login</button>
                      </div>
                      <div class="col-6 text-right">
                        <button type="button" class="btn btn-link px-0">Forgot password?</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%;" style="background-image: url('assets/img/trianglify.png');">
                <div class="card-body text-center" style="border-color:white;">
                  <div>
                    <h2 style="color: #181b1e;">Sign up</h2>
                    <p style="color: #5a6974;">
                      RyderHub is an online application for you to keep track of your earnings while you work for a delivery company,
                      <br/>
                      Sign up today to use some of of the fantastic features available!
                    </p>
                    <button type="button" class="btn  active mt-3 text-white" style="background-color: white;"><a routerLink="../register">Register Now!</a></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  