<div class="animated fadeIn" >
 
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">&euro;{{ totalIncome }}</div>
          <div>Total earned</div>
          <div> </div>
          
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart2Data"
          [labels]="lineChart2Labels"
          [options]="lineChart2Options"
          [colors]="lineChart2Colours"
          [legend]="lineChart2Legend"
          [chartType]="lineChart2Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">{{ totalHours }}</div>
          <div>Hours Worked</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
                  [datasets]="lineChart1Data"
                  [labels]="lineChart1Labels"
                  [options]="lineChart1Options"
                  [colors]="lineChart1Colours"
                  [legend]="lineChart1Legend"
                  [chartType]="lineChart1Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">&euro;{{ avgWeeklyPay }}</div>
          <div>Avg Weekly Income</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart3Data"
          [labels]="lineChart3Labels"
          [options]="lineChart3Options"
          [colors]="lineChart3Colours"
          [legend]="lineChart3Legend"
          [chartType]="lineChart3Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">{{ avgDailyOrders }}</div>
          <div>Avg Daily Orders</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="barChart1Data"
          [labels]="barChart1Labels"
          [options]="barChart1Options"
          [colors]="barChart1Colours"
          [legend]="barChart1Legend"
          [chartType]="barChart1Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-0">Work Completed Chart</h4>
      <button type="button" title="Update chart" (click)="getUpdatedData()" class="btn btn-primary float-right"><i class="icon-cloud-download"> Update</i></button>
         
      <div class="row">
        <div class="col-sm-6">
          Start Date:
          <input type="date" class="field1" ng-reguired="true"  [(ngModel)]="earliestWorkDate" name="earliestWorkDate" class="form-control" placeholder="Start date.." required>
         
          </div><!--/.col-->
        <div class="col-sm-6  d-md-block">
         
           Finish Date:
          <input type="date" class="field2" ng-reguired="true"  [(ngModel)]="newestWorkDate" name="newestWorkDate" class="form-control" placeholder="Finish date.." required>
       
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"></canvas>
      </div>
    </div>
    <div class="card-footer">
      
    </div>
  </div>
  <!--/.card-->

 <!-- Trigger/Open The Modal -->
<!--<button id="myBtn">Open Modal</button> -->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span style="text-align: right;" class="close">&times;</span>
     <br/>
    <h3>Hello New User, 
      <br/>
      To get started upload your invoice's <a routerLink="../theme/upload">here :)</a></h3>
   
  </div>

</div>
 
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Daily Analysis</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-3">
                  <div class="callout callout-info">
                    <h6>RyderID: {{ryderID}}  </h6>
                    <small class="text-muted">Average Daily Hours</small>
                    <br>
                    <strong class="h4">{{ avgDailyHours }}</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-3">
                  <div class="callout callout-danger">
                    <h6>RyderID: {{ryderID}} </h6>
                    <small class="text-muted">Avg Houly earnings</small>
                    <br>
                    <strong class="h4">{{ avgHourlyEarnings }}</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-3">
                  <div class="callout callout-warning">
                    <h6>All Ryders</h6>
                    <small class="text-muted">Average Daily Hours</small>
                    <br>
                    <strong class="h4">{{ avgDailyHoursGlobal }}</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-3">
                  <div class="callout callout-danger">
                    <h6>All Ryders</h6>
                    <small class="text-muted">Avg Houly earnings</small>
                    <br>
                    <strong class="h4">{{ avgHourlyEarningsGlobal }}</strong>
                  </div>
                  
                </div><!--/.col-->
              </div><!--/.row-->
             
              <hr/> 
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    Monday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <h6>Avg Orders: {{ avgDailyOrdersMonday }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info " id="monday-progBar-orders" role="progressbar" style="width:90%"  aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                    
                  </div>
                  <h6>Avg Earnings: &euro;{{ AvgIncomeMonday }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" id="monday-progBar-earnings" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    (All Ryders) Monday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <h6>Avg Orders: {{ avgDailyOrdersMondayGlobal }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info " id="monday-progBar-orders" role="progressbar" style="width:90%"  aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                    
                  </div>
                  <h6>Avg Earnings: &euro;{{ AvgIncomeMondayGlobal }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" id="monday-progBar-earnings" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    Tuesday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <h6>Avg Orders: {{ avgDailyOrdersTuesday }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" id="tuesday-progBar-orders" role="progressbar" style="width: 56%" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h6>Avg Earnings: &euro;{{ AvgIncomeTuesday }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" id="tuesday-progBar-earnings" role="progressbar" style="width: 94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    (All Ryders) Tuesday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <h6>Avg Orders: {{ avgDailyOrdersTuesdayGlobal }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" id="tuesday-progBar-orders" role="progressbar" style="width: 56%" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h6>Avg Earnings: &euro;{{ AvgIncomeTuesdayGlobal }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" id="tuesday-progBar-earnings" role="progressbar" style="width: 94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    Wednesday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <h6>Avg Orders: {{ avgDailyOrdersWednesday }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" id="wednesday-progBar-orders" role="progressbar" style="width: 12%" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h6>Avg Earnings: &euro;{{ AvgIncomeWednesday }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" id="wednesday-progBar-earnings" role="progressbar" style="width: 67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    (All Ryders) Wednesday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <h6>Avg Orders: {{ avgDailyOrdersWednesdayGlobal }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" id="wednesday-progBar-orders" role="progressbar" style="width: 12%" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h6>Avg Earnings: &euro;{{ AvgIncomeWednesdayGlobal }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" id="wednesday-progBar-earnings" role="progressbar" style="width: 67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    Thursday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <h6>Avg Orders: {{ avgDailyOrdersThursday }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" id="thursday-progBar-orders" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h6>Avg Earnings: &euro;{{ AvgIncomeThursday }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" id="thursday-progBar-earnings" role="progressbar" style="width: 91%" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    (All Ryders) Thursday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <h6>Avg Orders: {{ avgDailyOrdersThursdayGlobal }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" id="thursday-progBar-orders" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h6>Avg Earnings: &euro;{{ AvgIncomeThursdayGlobal }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" id="thursday-progBar-earnings" role="progressbar" style="width: 91%" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    Friday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <h6>Avg Orders: {{ avgDailyOrdersFriday }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" id="friday-progBar-orders" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h6>Avg Earnings: &euro;{{ AvgIncomeFriday }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" id="friday-progBar-earnings" role="progressbar" style="width: 73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    (All Ryders)  Friday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <h6>Avg Orders: {{ avgDailyOrdersFridayGlobal }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" id="friday-progBar-orders" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h6>Avg Earnings: &euro;{{ AvgIncomeFridayGlobal }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" id="friday-progBar-earnings" role="progressbar" style="width: 73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    Saturday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <h6>Avg Orders: {{ avgDailyOrdersSaturday }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" id="saturday-progBar-orders" role="progressbar" style="width: 53%" aria-valuenow="53" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h6>Avg Earnings: &euro;{{ AvgIncomeSaturday }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" id="saturday-progBar-earnings" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    (All Ryders) Saturday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <h6>Avg Orders: {{ avgDailyOrdersSaturdayGlobal }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" id="saturday-progBar-orders" role="progressbar" style="width: 53%" aria-valuenow="53" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h6>Avg Earnings: &euro;{{ AvgIncomeSaturdayGlobal }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" id="saturday-progBar-earnings" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    Sunday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <h6>Avg Orders: {{ avgDailyOrdersSunday }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" id="sunday-progBar-orders" role="progressbar" style="width: 9%" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h6>Avg Earnings: &euro;{{ AvgIncomeSunday }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" id="sunday-progBar-earnings" role="progressbar" style="width: 69%" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    (All Ryders) Sunday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <h6>Avg Orders: {{ avgDailyOrdersSundayGlobal }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" id="sunday-progBar-orders" role="progressbar" style="width: 9%" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h6>Avg Earnings: &euro;{{ AvgIncomeSundayGlobal }}</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" id="sunday-progBar-earnings" role="progressbar" style="width: 69%" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div><!--/.col-->
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                
                </div><!--/.col-->
                <div class="col-sm-6">
                  
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">
              
              
            </div><!--/.col-->
          </div><!--/.row-->
          <br>
         <!-- <div class="card">
            <div class="card-header">
                <h4>Monthly Bar Chart Analysis</h4>
              <div class="card-header-actions">
                <a href="http://www.chartjs.org">
                  <small class="text-muted">docs</small>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>-->
          <h3>Invoices</h3>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th></th>
                <th>ID</th>
                <th>Date</th>
                <th>DropFees</th>
                <th>Total Tips</th>
                <th>Total Earnings</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let ItemsArray of ItemsArrayInvoice; let i = index"[attr.data-index]="i">
                <tr *ngFor="let item of ItemsArray;" >
                  <td></td>
                  <td>{{ item.ID }}</td>
                  <td>{{ item.Date }}</td>
                  <td>{{ item.Dropfees }}</td>
                  <td>&euro; {{ item.Tips}}</td>
                  <td>&euro; {{ item.Total }}</td>
                  <td>
                    <button type="button" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
 

</div>
