// Here you can add other styles
.features-block {
    background-color: #a6cbe61f; 
    padding:40px; 
    border-radius:15px;
}
.landing-page-img {
    width: 90%;
    height: auto;
    display: block;
    margin-left:30px;
}
.landing-page-img-lg {
  width: 90%;
  height: auto;
  display: block;
  margin-left:30px;
}
@media only screen and (max-width: 600px) {
    .landing-page-img {
      width: 80%;
    }
  }
@media only screen and (max-width: 600px) {
    .landing-page-img-lg {
      width: 98%;
    }
  }